In [1]:
r = int(input())
area = 3.14 * r*r
print(area)

 5

78.5

In [3]:
x = input()
count = 0
vowels = "aeiouAEIOU"

for char in x:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

 jaideep

Number of vowels: 4

In [4]:
x = input()
count = 0
vowels = "aeiouAEIOU"

for char in x:
    if char not in vowels:
        count += 1

print("Number of consonants:", count)

 jaideep

Number of consonants: 3

In [5]:
x = [30,42,56,70,45,35]
for i in range(len(x)):
  if x[i] % 5 == 0 :
    x[i] -=5
  else:
    x[i] += 0 
print(x)

[25, 42, 56, 65, 40, 30]

In [6]:
 x = [23,24,45,67,99,54,20]
 y =[]
 z = []
 for i in range(len(x)):
  if i % 2 == 0:
    y.append(x[i])
  else:
    z.append(x[i])
 print(y)
 print(z)

[23, 45, 99, 20]
[24, 67, 54]

In [7]:
x = [20,35,45,30,60,75,85,45,25,40]
e_sum =0
o_sum =0
for num in x:
  if num % 2 ==0:
    e_sum += num
  else:
    o_sum += num
print(e_sum)
print(o_sum)

150
310

In [8]:
x = ['Mumbai','Hyd','Delhi','Dubai','Jaipur','Kolkata','Chennai','Dadar','Danish','Manipur','Haridwar','Hampi','Kakinada']
d=[]
for item in x:
  if item.startswith('D'):
    d.append(item)
print(d)

['Delhi', 'Dubai', 'Dadar', 'Danish']

In [9]:
x = ['Mumbai','Hyd','Delhi','Dubai','Jaipur','Kolkata','Chennai','Dadar']
y=[50,40,30,20,100,350,280,200]
s={}
for i in range(len(x)):
  s[y[i]] = x[i]
  
print(s)

{50: 'Mumbai', 40: 'Hyd', 30: 'Delhi', 20: 'Dubai', 100: 'Jaipur', 350: 'Kolkata', 280: 'Chennai', 200: 'Dadar'}

In [3]:
x = {"Mumbai" : 50 , "Hyd" : 40,"Delhi":30,"Dubai":20,"Jaipur":100,"kol":350,"chenn":280,"Dadar":200}
for city , pop in x.items():
    if pop < 100:
        print(city)

Mumbai
Hyd
Delhi
Dubai

In [8]:
def aoc(radius):
    area = 3.14 * radius * radius
    return area
aoc(5)

78.5

In [10]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count =0
    for char in text:
        if char in vowels:
            count +=1
    return count
count_vowels("Jaideep")

4

In [11]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count =0
    for char in text:
        if char  not in vowels:
            count +=1
    return count
count_vowels("Jaideep")

3

In [13]:
def red(x):
#x = [30,42,56,70,45,35]
    for i in range(len(x)):
      if x[i] % 5 == 0 :
        x[i] -=5
    return x 
num =  [30,42,56,70,45,35]
result = red(num)
print(result)

[25, 42, 56, 65, 40, 30]

In [14]:
def split_list(x):
    y = []
    z = []
    for i in range(len(x)):
        if i % 2 == 0:
            y.append(x[i])
        else:
            z.append(x[i])
    return y, z


x = [23, 24, 45, 67, 99, 54, 20]
y, z = split_list(x)

print(y)
print(z)

[23, 45, 99, 20]
[24, 67, 54]

In [15]:
def sum(x):

    e_sum =0
    o_sum =0
    for num in x:
      if num % 2 ==0:
        e_sum += num
      else:
        o_sum += num
    return e_sum ,o_sum
x = [20,35,45,30,60,75,85,45,25,40]
e_sum,o_sum = sum(x)
print(e_sum)
print(o_sum)

150
310

In [16]:
def startD(x):

    d=[]
    for item in x:
      if item.startswith('D'):
        d.append(item)
    return d
x = ['Mumbai','Hyd','Delhi','Dubai','Jaipur','Kolkata','Chennai','Dadar','Danish','Manipur','Haridwar','Hampi','Kakinada']
d = startD(x)
print(d)

['Delhi', 'Dubai', 'Dadar', 'Danish']

In [18]:
def city(x):

    y=[50,40,30,20,100,350,280,200]
    s={}
    for i in range(len(x)):
      s[y[i]] = x[i]
    return s
x = ['Mumbai','Hyd','Delhi','Dubai','Jaipur','Kolkata','Chennai','Dadar']
s = city(x)
print(s)

{50: 'Mumbai', 40: 'Hyd', 30: 'Delhi', 20: 'Dubai', 100: 'Jaipur', 350: 'Kolkata', 280: 'Chennai', 200: 'Dadar'}

In [21]:
def cityy(x):
    result=[]
    for city , pop in x.items():
        if pop < 100:
            result.append(city)
    return result
x = {"Mumbai" : 50 , "Hyd" : 40,"Delhi":30,"Dubai":20,"Jaipur":100,"kol":350,"chenn":280,"Dadar":200}
cities = cityy(x)
print(cities)

['Mumbai', 'Hyd', 'Delhi', 'Dubai']